:root {
    --colorVerdeAzulado: #086f6f;
    --colorVerdeAzuladoOscuro: #0d5e5e;
    --colorAzul: #0d6efd;
    --colorAzulOscuro: rgb(10, 67, 146);
    --colorRosa: #de1860;
    --colorRosaOscuro: #9e1346;
    --colorMorado: #6a0dad;
    --colorMoradoOscuro: #4a0a7f;
    --colorAmarillo: #ffc107;
    --colorAmarilloOscuro: #d39e00;
    --colorVerde: #198754;
    --colorVerdeOscuro: #105f3a;
    --colorgris: #6c757d;
    --colorgrisOscuro: #343a40;
}

.usuarioColor {
    background-color: var(--colorVerdeAzulado);
}

/*Color del apartado de iconos en las cards*/
.usuarioIcon {
    background-color: var(--colorVerdeAzuladoOscuro);
}

.colorAzulOscuro {
    background-color: var(--colorAzulOscuro);
}

.colorRosaOscuro {
    background-color: var(--colorRosaOscuro);
}

.colorgrisOscuro {
    background-color: var(--colorgrisOscuro);
}

.colorverdeOscuro {
    background-color: var(--colorVerdeOscuro);
}

.coloramarilloOscuro {
    background-color: var(--colorAmarilloOscuro);
}

.llaveIcon {
    width: 30px;
    margin-right: 0.5rem;
}

#titulo_roles_permisos hr {
    border: 1px solid;
    border-color: gray;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}

.contenedor_Roles_Permisos {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.173);
    padding: 2rem;
}

#sidebar-nav {
    width: 200px;
}

.colNav {
    background-color: #06243b;
    color: white;
}

#sidebar-nav .list-group-item {
    border: none !important;
    background-color: transparent !important;
    color: white;
}

#sidebar-nav hr {
    border: 1px solid;
    border-color: gray;
    width: 90%;
    margin: 0 auto;
}

#sidebar-nav a:hover {
    background-color: #1c2d3a !important;
    color: white;
}

.barraDetalles {
    margin: 0 auto;
    background-color: #fafafae8;
    color: white;
    padding: 0.8rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.173);
}

.bi-list {
    color: rgb(115, 115, 115);
    font-size: 2rem;
}

#Datos-Usuario {
    font-size: 1.2rem;
    color: rgb(58, 58, 58);
}
